.advantage {
   min-Height: 473px;
   padding: 70px 0 65px 0;
   background: #F6F6F6;
   &__wrapper {
      margin-top: 65px;
      max-width: 958px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
   }
   &__item {
      width: 270px;
      text-align: center;
      img {
         display: block;
         margin: 0 auto;
      }
   }
   &__subtitle {
      color: #0D0D0D;
      font-weight: 700;
      font-size: 18px;
      line-height: 29px;
      margin-top: 35px;
   }
   &__descr {
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      margin-top: 20px;
      a {
         color: #FF0000;
         text-decoration-line: underline;
         &:hover {
            color: #FF0000;
         }
      }
   }
}