.button {
   width: 150px;
   height: 30px;
   border-radius: 5px;
   background-color: $main-color;
   border: none;
   font-size: 12px;
   font-weight: 500;
   text-transform: uppercase;
   color: #FFFFFF;
   &_main {
      margin-top: 67px;
      width: 303px;
      height: 54px;
      font-size: 16px;
      line-height: 25px;
   }
   &_submit {
      width: 100%;
      height: 58px;
      color: #FFFFFF;
      font-size: 16px;
   }
}