.carousel {
   padding: 81px 0;
   &__inner {
      position: relative;
      width: 750px;
      margin: 0 auto;
   }
   &_prev, &_next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0px;
      background: none;
      border:none;
      img {
         width: 31px;
         height: 50px;
      }
   }
   &_next {
      right: 0px;
      left: auto;
   }
   .tns-nav {
      text-align: center;
      margin-top: 5px;
      button {
         background: #A9A9A9;
         margin: 0 5px;
         height: 7px;
         width: 27px;
         border: none;
         &:active {
            background: red;
         }
      }
   }
   .tns-outer {
      position: relative;
   }
   .tns-item {
      img {
         display: block;
         margin: 0 auto;
      }
   }
}
