@media (max-width: 1200px) {
   .catalog {
      &__content {
         justify-content: center;
      }
   }
}

@media (max-width: 991px) {
   .promo {
      padding: 21px 15px 93px 15px;
   }
   .advantage {
      &__wrapper {
         margin-top: 35px;
         flex-direction: column;
         align-items: center;
      }
      &__item {
         margin-top: 30px;
      }
      &__subtitle {
         margin-top: 18px;
      }
   }
   .consultation {
      padding: 50px 15px 35px 15px;
   }
   .carousel {
      &_prev, &_next {
         display: none;
      }
   }
}

@media (max-width: 767px) {
   .header {
      &__official {
         display: none;
      }
   }
   .promo {
      &__header {
         font-size: 37px;
         line-height: 35px;
      }
      &__subheader {
         font-size: 21px;
         line-height: 21px;
      }
      &__icons {
         margin-top: 50px;
      }
   }
   .title_left {
      font-size: 33px;
      line-height: 46px;
   }
   .feed-form {
      margin-top: 30px;
   }
   .consultation {
      &__descr {
         margin-top: 15px;
      }
   }
   .tns-item {
      img {
         width: 90%;
      }
   }
   .catalog {
      &-item {
         position: relative;
         width: 226px;
         min-height: 220px;
         border-radius: 5px;
         padding: 5px;
         &__img {
            display: inline-block;
            height: 85px;
            margin: 0;
         }
         &__subtitle {
            position: absolute;
            top: 5px;
            right: 15px;
            margin-top: 0px;
            width: 50%;
            text-align: left;
         }
         &__descr {
            margin-top: 6px;
            width: 95%;
         }
         &__link {
            margin-top: 38px;
            font-size: 13px;
         }
         &__list {
            min-width: 226px;
            padding-left: 15px;
            li {
               font-size: 12px;
               line-height: 17px;
               margin-bottom: 2px;
            }
         }
         &__back {
            line-height: 10px;
         }
         hr {
            margin: 10px 0;
         }
         &__content {
            min-width: 226px;
         }
         &__footer {
            button {
               width: 100px;
               height: 30px;
            }
         }
      }
      &__tabs {
         margin-top: 40px;
      }
      &__tab {
         width: 160px;
         font-size: 15px;
      }
      .title_catalog {
         font-size: 30px;
         line-height: 30px;
      }
      &__content {
         margin-top: 45px;
      }
   }
}

@media (max-width: 575px) {
   .header {
      &__logo {
         width: 230px;
      }
      img {
         width: 90%;
      }
      &__contacts {
         button {
            width: 85%;
            height: 100%;
            font-size: 11px;
            margin-top: 6px;
         }
         a {
            font-size: 11px;
            width: 95px;
         }
      }
   }
   .promo {
      min-height: 500px;
      padding: 20px 15px 30px 15px;
      &__wrapper {
         text-align: right;
         button {
            margin-top: 25px;
            font-size: 14px;
            line-height: 20px;
            width: 230px;
            height: 50px;
         }
      }
      &__header {
         font-size: 28px;
      }
      &__subheader {
         font-size: 16px;
      }
      &__icons {
         margin-top: 30px;
         width: 300px;
         img {
            margin-bottom: 12px;
         }
      }
      &__link {
         font-size: 14px;
         margin-top: 5px;
      }
   }
   .advantage {
      padding: 20px 15px 30px 15px;
   }
   .feed-form {
      width: 230px;
      button {
         width: 230px;
         height: 50px;
         font-size: 14px;
         line-height: 20px;
      }
   }
   .title_left {
      font-size: 22px;
      line-height: 33px;
   }
   .consultation {
      padding: 20px 15px 30px 15px;
      min-height: 570px;
      &__descr {
         margin-top: 10px;
         font-size: 18px;
         line-height: 25px;
      }
   }
   .carousel {
      padding: 30px 0;
      .tns-nav {
         button {
            width: 20px;
            height: 5px;
         }
      }
   }
   .catalog {
      &__tabs {
         flex-direction: column;
      }
      &__tab {
         margin-top: 10px;
         transform: skewX(-35deg);
         div {
            transform: skewX(35deg);
         }
      }
   }
   .reviews {
      &__item {
         display: flex;
         margin-top: 60px;
         flex-direction: column;
         align-items: center;
      }
      &__wrapper {
         margin-left: 0px;
         margin-top: 15px;
         text-align: center;
      }
   }
}