.promo {
   min-height: 650px;
   padding: 21px 0 93px 0;
   background: url('../img/bg/main__bg.jpg') center (center/cover) no-repeat;
   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 90px;
   }
   &__header {
      font-weight: 700;
      color: #FFFFFF;
      font-size: 42px;
      line-height: 42px;
      text-transform: uppercase;
   }
   &__subheader {
      font-weight: 500;
      color: #FFFFFF;
      font-size: 24px;
      line-height: 24px;
      text-transform: uppercase;
      margin-top: 10px;
   }
   &__icons {
      margin-top: 65px;
      width: 425px;
      display: flex;
      justify-content: space-between;
   }
   &__icon {
      width: 108px;
      text-align: center;
      color: #FFFFFF;
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      img {
         display: block;
         margin: 0 auto;
         margin-bottom: 20px;
      }
   }
   &__link {
      color: #FFFFFF;
      font-weight: 500;
      font-size: 16px;
      line-height: 25px;
      margin-top: 8px;
      a {
         text-decoration-line: underline;
         text-transform: uppercase;
         color: #FFFFFF;
         &:hover {
            color: #FFFFFF;
         }
      }
   }
}